.pagination {
  background: #fff;
  padding-top: 4rem;
  padding-bottom: 6rem;

  &-pager &-num {
    text-align: center;
  }

  &-pager &-num li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    position: relative;
    border-radius: 10px;
  }

  &-pager &-num li a {
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50%;
  }

  &-pager &-num li a span {
    display: table-cell;
    vertical-align: middle;
  }

  &-pager &-num li a:hover,
  &-pager &-num li a.active {
    color: #000;
    background: #f7f7f7;
  }
}

@include mq("sp") {
  .pagination {
    padding-top: 8rem;
    padding-bottom: 16rem;

    &-pager &-num li {
      width: 5rem;
      height: 5rem;
    }
  }
}
